.promotion-card {
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px 0 rgba(black, black, black, black);
    display: flex;
    padding: 15px;
    align-items: flex-start;
}


.promotion-card__image {
    width: 124px;
    height: 186px;
}


.promotion-card__title {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2C3e50;
    padding-top: 20px;
}

.promotion-card__price {
    font-size: 30px;
    color: #0F4C81;
}


.promotion-card__footer {
    font-size: 14px;
    
}